
.introduction {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1cm;
    margin-left: 5.5cm;
    margin-right: 1cm;
}

.header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 100px;

}

.menu {
    position: fixed; /* Fixe le menu à la position */
    width: 170px; /* Largeur du menu, ajustez selon vos besoins */
    height: 100%; /* Hauteur du menu, peut être la hauteur totale de la page */
    background-color: #6e6363; /* Couleur de fond du menu */
    color: #fff; /* Couleur du texte dans le menu */
    border-radius: 10px;
    margin-top: 0cm;
}


/* CSS */
.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

.menu ul {
    list-style: none; /* Supprime les puces de la liste */
    padding: 0;
}

/* Style des éléments de liste (li) */
.menu li {
    padding: 10px;
    text-align: center;
}

/* Style des liens dans le menu */
.menu a {
    text-decoration: none; /* Supprime les soulignements des liens */
    color: #f5f0e8; /* Couleur du texte des liens */
}

/* Contenu principal à droite du menu */
.content {
    margin-left: 220px; /* Ajustez la marge à la largeur du menu + espace de séparation */
    padding: 20px; /* Ajoute un espace à droite du contenu principal pour le dégager du menu */
    
}
.soulignement {
    text-align: center;
    cursor: pointer;
    transition: text-decoration 0.3s;
}
.soulignement:hover {
    text-decoration: underline;
}

h1{
    font-family: 'Lobster Two', sans-serif;
    text-decoration-thickness: 0.05em;
    font-size: 50px;
    margin-bottom: 1.25cm;
    margin-left: 5.5cm;
}


.img-intro{
    width: 350px;
    height: auto;
    border-radius: 10px;
}

.img-pays{
    width: 350px;
    height: auto;
    border-radius: 10px;
}

p{
    margin-left: 1cm;
    margin-right: 2cm;
    font-size: 17px;
}

h2{
    margin-left: 5.5cm;
    margin-bottom: 1.5cm;
    font-family: 'Lobster Two', sans-serif;
    font-size: 40px;
    margin-top: 1.5cm;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image-container {
    display: flex;
    align-items: center;
    margin-left: 4.5cm;
}

.image-container img {
    margin-right: 5cm;
    max-width: 100%;
}

/* Pour éviter un espace après la dernière image */
.image-container img:last-child {
    margin-right: 0;
}

.text-container {
    display: flex;
    justify-content: space-between;
}

.text {
    width: 48%;
    margin-right: 3.80cm;
    margin-left: 5.5cm;
    margin-bottom: 1cm;
}

/* Pour éviter un espace après le dernier bloc de texte */
.text:last-child {
    margin-right: 0;
}
